<?xml version="1.0" encoding="UTF-8"?>
<settings
	xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>netradius-thirdparty-private-releases</id>
			<username>thirdparty</username>
			<password>proprietary</password>
		</server>
	</servers>
	<profiles>
		<!-- Default Profile -->
		<profile>
			<id>netradius</id>
			<properties>
				<downloadSources>true</downloadSources>
				<downloadJavadocs>true</downloadJavadocs>
			</properties>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>netradius-public</id>
					<name>NetRadius Public Repositories</name>
					<url>https://nexus.netradius.net/repository/maven-public</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
				</repository>
				<repository>
					<id>netradius-thirdparty-private-releases</id>
					<name>NetRadius Third-party Private Releases Repository</name>
					<url>https://nexus.netradius.net/repository/thirdparty-private-releases</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>netradius-public</id>
					<name>NetRadius Public Repositories</name>
					<url>https://nexus.netradius.net/repository/maven-public</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>
